@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px) {
    
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    section#login {
        width: 768px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
 
    section#login > div#imagem {
        float: left;
        width: 38%;
        height: 100%;
        
    }

    section#login > div#formulario {
        width: 60%;
        margin-left: 20px;
        
        
    }

    div#formulario > h1{
        font-size: 40px;
    }

    .botao{
        width: 95%;
    }

    div.campo{
        width: 90%;
    }

    div#formulario > p{
        font-size: 1em;
        text-align: center;
        padding: 10px;
    }

    input#ilogin{
        width: 92%;
        text-indent: 10px;
    }

    input#isenha{
        width: 92%;
        text-indent: 10px;
    }

    

}

@media screen and (min-width: 992px) {

    body{
        background-image: linear-gradient(to top, #5f2c82, #49a09d);
    }

    section#login {
        width: 990px;
        height: 450px;
    }

    section#login > div#imagem{
        width: 50%;
        float: right;
        height: 100%;
        

    }

    section#login > div#formulario {
        
        width: 45%;
        margin-left: 10px;
        margin-top: 40px;
        

    }
    div#formulario > h1{
        font-size: 45px;
    }

    div#formulario > p{
        font-size: 1em;
        text-align: center;
        padding: 10px;
    }
    input#ilogin{
        width: 93%;
        text-indent: 10px;
    }

    input#isenha{
        width: 93%;
        text-indent: 10px;
        
    }

    .botao{
        width: 94%;
        margin-left: 15px;
    }

    div.campo{
        
        
        width: 90%;
        padding: 10px;
        margin-top: 5px;
        margin-left: 15px;
    }
}