@charset "UTF=8";

/*
Paleta de cores
verde: #49a09d
Lilás: #5f2c82
*/

*{
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: #5f2c82;
    font-family: Arial, Helvetica, sans-serif;

    width: 100vw;
    height: 100vh;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
    
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.699);

    transition: width .3s, height .3s;
}

section#login > div#imagem{
    display: block;
    background: #5f2c82 url(../img/fechadura.jpg);
    height: 200px;
    background-size: cover;
    background-position: center center;

}

section#login > div#formulario{
    display: block;
    padding: 10px;
    
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 0.8em;
}

div.campo{
    background-color: #5f2c82;
    border-radius: 10px;
    width: 93%;
    padding: 10px;
    margin-top: 5px;

}

i{
    color: white;
    padding-right: 5px;
}

input#ilogin{
    background-color:#49a09d;
    border-radius: 5px;
    width:85%;
    height: 25px;
    border: none;
   
}

input#isenha{
    color: white;
    background-color:#49a09d;
    border-radius: 5px;
    width:85%;
    height: 25px;
    border: none;
}


input#ientrar{
    background-color: #49a09d;
    color: white;
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    border-radius: 10px;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

input#ientrar:hover{
    background-color:  #32706e;
}

input#iesqueci{
    background-color: white;
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    border-color: #6dc5c2;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;

}

input#iesqueci:hover{
    background-color: #49a09d;
    color: white;
}









/*
main{
    display: flex;
    margin: auto;
    width: 300px;
    height: 520px;
       
}

section > div#imagem{
    background: url(../img/fechadura.jpg);
    background-size: cover;
    background-position: center center;
    width: 280px;
    height: 200px;
    margin-top: 50px;
    border-radius: 20px 20px 0px 0px;

}

section > div#formulario{
    background-color: white;
    width: 280px;
    height: 320px;
    border-radius: 0px 0px 20px 20px;
}

h1{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

div#formulario > p{
    font-size: 14px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: justify;
}

input#ilogin{
    width: 87%;
    margin-top: 5px;
    margin-left: 6px;
    padding: 10px;
    border-radius: 10px;
}

input#isenha{
    width: 87%;
    margin-top: 5px;
    margin-left: 6px;
    padding: 10px;
    border-radius: 10px;
}

input#ientrar{
    background-color: #49a09d;
    color: white;
    padding: 10px;
    margin-top: 5px;
    width: 95%;
    border-radius: 10px;
    margin-left: 6px;
    font-size: 1em;

}

input#iesqueci{
    background-color: white;
    padding: 10px;
    margin-top: 5px;
    width: 95%;
    border-color: #6dc5c2;
    border-radius: 10px;
    margin-left: 6px;
    font-size: 1em;
    
}
input#ientrar:hover{
    background-color: #35807d;
}

input#iesqueci:hover{
    background-color: #a1d3d1;
}